.img {
  height: 250px;
}

.card {
  margin-top: 15px;
  background-color: #737373 !important;
}

.cardText {
  color: #fff;
  font-weight: bold;
  text-align: center;
}

.centre {
  text-align: center;
}

.shareButton {
  color: #fff !important;
}

.shareButton:focus,
.shareButton:hover {
  color: #737373 !important;
}
