.navBar {
  background-color: #000;
  padding-top: 10px;
  padding-bottom: 10px;
}

.brand {
  color: #fff !important;
}

.skipLink {
  background: #000;
  height: 30px;
  left: 40%;
  padding: 8px;
  position: absolute;
  transform: translateY(-150%);
  transition: transform 0.3s;
  color: #fff;
}

.skipLink:focus {
  transform: translateY(0%);
  z-index:99
}
